@charset "UTF-8";
html, body, ol, ul, li, h1, h2, h3, h4, h5, h6, p, th, td, dl, dt, dd, form, fieldset, legend, input, textarea, select {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: '微软雅黑';
  overflow-x: hidden;
}

ul, ol, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: normal;
}

b, strong {
  font-weight: normal;
}

i, em {
  font-style: normal;
}

a, u, ins {
  text-decoration: none;
}

img {
  border: 0;
  display: block;
}

input, fieldset {
  outline: none;
  border: 0;
}

.clear_fix:after {
  content: '.';
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden;
}

.clear_fix {
  zoom: 1;
}

.footerWrap .footer .bg {
  width: 1680px;
  height: 540px;
  background: #f6f7f9;
  position: absolute;
  left: -240px;
  z-index: -1;
}

.headerWrap {
  width: 100%;
  height: 60px;
  background: #fff;
}
.headerWrap .header {
  width: 1200px;
  height: 60px;
  background: #fff;
  margin: auto;
  display: flex;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
}
.headerWrap .header .logo {
  line-height: 60px;
  width: 120px;
  height: 60px;
  background: #fff;
  display: flex;
  align-items: center;
}
.headerWrap .header .logo img {
  width: 70px;
  height: 20px;
  background: #fff;
}
.headerWrap .header .login {
  line-height: 60px;
}
.headerWrap .header .register {
  margin-left: 650px;
  width: 130px;
  height: 16px;
  background: #fff;
  border-right: 1px solid #e5e5e5;
  text-align: center;
  margin-top: 22px;
}
.headerWrap .header .activate {
  width: 195px;
  height: 16px;
  background: #fff;
  text-align: center;
  margin-top: 22px;
}

.bannerWrap {
  width: 100%;
  height: 787px;
  background: #fff;
}
.bannerWrap .banner {
  width: 1200px;
  height: 787px;
  background: #fff;
  margin: auto;
  position: relative;
}
.bannerWrap .banner .bg {
  width: 1680px;
  height: 787px;
  background: #fff;
  position: absolute;
  top: 0;
  left: -240px;
  background: url(https://user.haier.com/cn/images/vipuser_denglubg3.jpg) no-repeat center center;
}
.bannerWrap .banner .mainbox {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 420px;
  height: 450px;
  background: #fff;
}
.bannerWrap .banner .mainbox .title {
  width: 390px;
  height: 60px;
  background: #fff;
  line-height: 60px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: normal;
  color: #333333;
  border-bottom: 1px solid #e5e5e5;
}
.bannerWrap .banner .mainbox .fail {
  position: absolute;
  top: 155px;
  left: -408px;
  width: 380px;
  height: 50px;
  background: #666;
  color: #fff;
  line-height: 50px;
  padding-left: 20px;
  display: none;
}
.bannerWrap .banner .mainbox ul {
  width: 100%;
  height: 90px;
  background: #fff;
  display: flex;
  line-height: 90px;
}
.bannerWrap .banner .mainbox ul li {
  padding: 0 30px;
}
.bannerWrap .banner .mainbox label {
  width: 390px;
  height: 60px;
  background: #fff;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.bannerWrap .banner .mainbox .tel, .bannerWrap .banner .mainbox .pass {
  width: 338px;
  height: 48px;
  background: #fff;
  border: 1px solid #d6dbdd;
  padding-left: 20px;
  font-size: 12px;
  font-weight: normal;
  color: #999999;
}
.bannerWrap .banner .mainbox .agree, .bannerWrap .banner .mainbox .checklog {
  display: inline-block;
  margin-left: 30px;
  margin-right: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #d6dbdd;
  font-size: 12px;
  font-weight: normal;
  color: #999999;
}
.bannerWrap .banner .mainbox .btn {
  width: 358px;
  height: 48px;
  background: #fff;
  background: #c6cacb;
  color: #fff;
}

.footerWrap {
  width: 100%;
}
.footerWrap .footer {
  width: 1200px;
  height: 57px;
  background: transparent;
  margin: auto;
  position: relative;
  display: flex;
  font-size: 10px;
  font-weight: normal;
  color: #494f5a;
}
.footerWrap .footer .bg {
  height: 57px;
}
.footerWrap .footer a, .footerWrap .footer i, .footerWrap .footer strong {
  display: inline-block;
  padding: 0 10px;
  font-size: 10px;
  font-weight: normal;
  color: #494f5a;
  line-height: 57px;
  text-align: center;
}
.footerWrap .footer p {
  margin-left: 30px;
  margin-right: 50px;
}

.footerWrap {
  background-color: black;
}

/*# sourceMappingURL=login.css.map */
